.header {
  position: relative;
  height: 100vh;
  background-image: 
      
  url(../assets/img/background.jpg);
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;

  @include respond(tab-port) {
    background-image: 
      
  url(../assets/img/background-2.jpeg);
  }
  @include respond(phone) {
    background-image: 
      
  url(../assets/img/background-2.jpeg);
  }
 

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    visibility: hidden;
  }
  @include respond(tab-port) {
    &__logo-box{
      visibility: visible;
      width: 7rem;
      height: 7rem;
      position: fixed;
      z-index: 400;
    }
  }

  &__logo {
    height: 5rem;
  }
  @include respond(tab-port) {
    &__logo{
      
      height: 7rem;
     
    }
  }

  &__text-box {
    position: absolute;
    top: 85%;
    right: 10%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
