.character {
  margin: 0 auto;
  background-image: linear-gradient(
    to left top,
    rgba($color-primary-darker, 0.8),
    rgba($color-primary-lighter, 0.8)
  );
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  border-radius: 3px;
  padding: 2rem;
  transition: all 0.2s;

  &-big {
    cursor: pointer;
  }

  &:hover {
    transform: scale(1.05) translateY(-2rem);
    box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
    z-index: 20;
  }

  &-image {
    width: 100%;
  }
  &-info {
    padding-top: 1rem;
    color: $color-light-grey-1;

    &-links {
      &-link {
        &-icon {
          width: 3rem;
          height: 3rem;
          margin-right: 1rem;
          &:not(:last-child) {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
