.stone {
  width: 75%;
  margin: 0 auto;

  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  border-radius: 50px;
  border-top: 1px solid rgba($color-white, 0.5);
  border-left: 1px solid rgba($color-white, 0.5);
  backdrop-filter: blur(5px);
  padding: 2rem;
  padding-left: 6rem;
  cursor: pointer;


  @include respond(tab-port) {
    width: 100%;
  }

  &-shape {
    width: 7.5rem;
    height: 7.5rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    
    position: relative;
  }
  &-shape-2 {
    width: 7.5rem;
    height: 7.5rem;
    float: right;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    
    position: relative;
  }

  &-detail {
    overflow: hidden;
    max-height: 0;
    padding-left: 17%;
  }

 &-text {
    padding-left: 20%;
  }
  &-text-2 {
    padding-left: 5%;
  }

  &-gif {
    width: 100%;
    transform: scale(1.4);
    transition: all 0.5s;
  }

  &-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-secondary-orange;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  // &:hover &-caption {
  //   opacity: 1;
  //   transform: translate(-50%, -50%);
  // }

  // &:hover &-gif {
  //   transform: scale(1);
  //   filter: blur(5px) brightness(40%);
  // }
} 

.active {
  // border-radius: 50px !important;
  .stone-detail{
    max-height: fit-content;
  }
}
