@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "AGENCYR";
    src: url("../public/assets/fonts/AGENCYR.TTF");
}

@font-face {
    font-family: "Arial";
    src: url("../public/assets/fonts/arial.ttf");
}

@font-face {
    font-family: "Berlin";
    src: url("../public/assets/fonts/Berlin\ Sans\ FB\ Demi\ Bold.ttf");
}

