//COLORS

//Text Colors & Exist Colors
$color-white: #fff;
$color-black: #000;
$color-dark-grey: #777;
$color-dark-grey-2: #482921;
$color-dark-grey-3: #333;

$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #eee;

//Main Color Palette
$color-primary: #245c73;
$color-primary-light: #4b8ca8;
$color-primary-lighter: #91c4d9;
$color-primary-dark: #0a3140;
$color-primary-darker: #021826;
$color-secondary-orange: #fb7631;
$color-secondary-orange2: #7c1d25;


//FONTS
$default-font-size: 1.6rem;
$small-font-size: 1.3rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 4rem;
